*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
header{
    position: fixed;
    right: 0;
    top: 0;
    z-index: 1000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #FFD98E;
    border-radius: 0px 0px 20px 20px;
    height: 126px;
}
#head-logo{
    position: absolute;
    width: 90px;
    left: 190px;
    top: 15px;
    bottom: 47.8%;
}
#prod{
    position: absolute;
    left: 18.5%;
    right: 74.03%;
    top: 35.22%;
    bottom: 51.57%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    letter-spacing: 0.05em;
    
    color: #504744;
}
#gallery{
    position: absolute;
    left: 25.5%;
    right: 74.03%;
    top: 35.22%;
    bottom: 51.57%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #504744;    
}
#events{
    position: absolute;
    left: 31.7%;
    right: 74.03%;
    top: 35.22%;
    bottom: 51.57%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-decoration: none;
    letter-spacing: 0.05em;
    
    color: #504744;   
}
.right{
    position: fixed;
    top: 2%;
    z-index: 1000;
    width: 60%;
    display: flex;
    align-items: center;
    margin: 1%;
    justify-content: space-evenly;
}
#search{
    width: 34px;
    height: 34px;
    background: #FFFFFF;
    border-radius: 19px;
    border-color: transparent;
    position: absolute;
    top: 5%;
    left: 33.5%;
    color: transparent;
    /* 
    
     */
}
#search img{
    width: 20px;
    position: relative;
    left: 20%;
    justify-content: center;
    display: flex;
}
#search:hover{
    background-color: beige;
}
#search-bar{
    position: relative;
    height: 38px;
    width: 235px;
    background: #FFFFFF;
    border-radius: 19px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    padding-left: 5%;
}

.right nav a img{
    width: 20px;
    left: 96.32%;
    top: 29.56%;
}
.cart-header{
    position: relative;
    left: -13%;
}
.account{
    position: relative;
    left: -28%;
    
}
.account a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    letter-spacing: 0.05em;
    color: #504744;  
    font-weight: 400;
    font-size: 18px;  
    text-decoration: none;
}
#prod:hover, #gallery:hover, #events:hover, .account a:hover{
    color: #bb9387;
}
#bg1{
    position: absolute;
    left: 5%;
    top: 20%; 
}
#bg3{
    position: absolute;
    left: 80%;
    top: 50%;
}
#bg4{
    position: absolute;
    left: 50%;
    top: 100%;
}
#bg5{
    position: absolute;
    left: 0%;
    top: 150%;
}
#bg2{
    position: absolute;
    left: 90%;
    top: 180%;
}
.content{
    align-content: space-around;
}
.about{
    position: relative;
    margin: 10%;
    margin-left: 15%;
    margin-right: 15%;
}
.about h1{
    position: relative;
    width: 100%;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.05em;  
    color: #504744;
}
.about h5{
    position: absolute;
    width: 100%;
    margin-top: 2.5%;
    justify-items: center;
    align-items: center;
    text-align: center;
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 53px;
    letter-spacing: 0.05em;  
    color: #504744;
} 
.big-brands ul{
    display: flex;
}
.big-brands{
    position: relative;
    width: 1231px;
    height: 327px;
    align-self: center;
    background: #FFD3D3;
    border-radius: 30px;
    margin-top: 12%;
    margin-left: 17.7%;
    margin-right: 17.7%;
}
.big-brands h1{
    position: relative;
    text-align: center;
    font-family: 'Roboto Slab';
    top: 3%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.05em;  
    color: #504744;
}
#bandai{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2%;
    margin-top: 4%;
    margin-left: 3%;
    background: #FFFFFF;
    border-radius: 22px;
}
#bandai img{
    width: 120px;
    height: 120px;
    margin: 10%;
}
#mattel{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2%;
    margin-top: 4%;    
    background: #FFFFFF;
    border-radius: 22px;
}
#mattel img{
    width: 120px;
    height: 120px;
    margin: 10%;
}
#tamiya{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2%;
    margin-top: 4%;    
    background: #FFFFFF;
    border-radius: 22px;
}
#tamiya img{
    width: 120px;
    margin: 10%;
    margin-top:20%
}
#mini-gt{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2%;
    margin-top: 4%;    
    background: #FFFFFF;
    border-radius: 22px;
}
#mini-gt nav{
    position: relative;
    width: 120px;
    height:100px;
    margin: 10%;
    margin-top: 15%;
    background: #4f4f4f;
}
#mini-gt img{
    width: 100px;
    margin: 10%;
    margin-top:20%
}
#lego{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2%;
    margin-top: 4%;    
    background: #FFFFFF;
    border-radius: 22px;
}
#lego img{
    width: 120px;
    margin: 10%;
    margin-top:25%
}
#disney{
    position: relative;
    width: 150px;
    height: 150px;
    margin: 2%;
    margin-top: 4%; 
    margin-right: 3%;   
    background: #FFFFFF;
    border-radius: 22px;
}
#disney img{
    width: 120px;
    margin: 10%;
    margin-top:35%
}
#bandai:hover, #mattel:hover, #tamiya:hover,#mini-gt:hover, #lego:hover, #disney:hover{
    background-color: #b5b5b5;
}

.recom-product{
    align-content: space-between ;
}
.recom-product h1{
    position: relative;
    text-align: center;
    font-family: 'Roboto Slab';
    margin-top: 2%;
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 53px;
    letter-spacing: 0.05em;  
    color: #504744;
}
.recom-etalase{
    display: flex;
    /* margin: 2%; */
}
.etalase{
    position: relative;
    width: 344px;
    height: 607px;
    border-radius: 42px;
    background: #ECECD8;
    justify-content: flex-start;
    align-items: flex-start;
    margin: 2%;
    margin-left: 10.5%;
}
.display{
    position: relative;
    width: 344px;
    height: 340px;
    background: #F7F7DF;
    border-radius: 44px 43px 0px 0px;
    justify-content:center ;
}
.display-product{
    position: relative;
}
.prod-logo{
    position: absolute;
    width: 50px;
    height: 50px;
    margin: 10%;
}
.product{
    width: 200px;
    align-items: center;
    margin: 15%;
    margin-left: 20%;
}
.button{
    position: relative;
    display: flex;
    margin-left: 30%;
    margin-top: -15%;
}
.cart{
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    border-color: transparent;
    background: #CACABA;
    margin-right: 20%;
}
.cart img{
    width: 60px;
}
.save{
    position: relative;
    width: 60px;
    height: 60px;
    border-radius: 50px;
    border-color: transparent;
    background: #CACABA;
    margin-top: 35%;
}
.save img{
    width: 20px;
}
.save:hover,.cart:hover{
    background: #d3d3c2;
}
.etalase h3{
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    line-height: 209.19%;
    text-align: center;
    letter-spacing: 0.05em;
    
    color: #000000;
}
.etalase h6{
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 209.19%;
    /* or 42px */
    margin: 2%;
    text-align: center;
    letter-spacing: 0.05em;
    color: #000000;
}
.ratings{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 18%;
}
.ratings h5{
    font-family: 'Ovo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 209.19%;
    /* identical to box height, or 42px */
    
    text-align: center;
    letter-spacing: 0.05em;
    margin-left: 2%;
}
.ratings img{
    width: 24px;
    height: 24px;
}
footer{
    position: absolute;
    width: 100%;
    height: 237px;
    left: 0px;
    top: 190%;    
    background: #FFD98E;
    border-radius: 170px 170px 10px 0px;
}
.col h3{
    position: absolute;
    left: 11.71%;
    top: 21.1%;
    bottom: 64.98%;
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 25px;
    color: #544D3F;
}
.mail-logo{
    position: absolute;
    left: 11.71%;
    right: 86.68%;
    top: 36.02%;
}
.mail-us{
    position: absolute;
    left: 13.72%;
    right: 81.86%;
    top: 37.29%;    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    line-height: 21px;
    letter-spacing: 0.05em;
    color: #544D3F;
}
.col h4{
    position: absolute;
    left: 11.71%;
    right: 80.72%;
    top: 50.21%;
    bottom: 38.82%;
    
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 0.05em;
    
    color: #544D3F;
}
.ig-logo{
    position: absolute;
    left: 11.71%;
    top: 63.29%;
}
.in-logo{
    position: absolute;
    left: 13.61%;
    top: 63.29%;
}
.fb-logo{
    position: absolute;
    left: 15.1%;
    top: 63.29%;
}
.twit-logo{
    position: absolute;
    left: 16.7%;
    top: 63.32%;
}
.footer-logo{
    position: absolute;
    width: 100%;
    max-width: 121px;
    left: 45.85%;
    top: 18%;
}
.col h6{
    position: absolute;
    left: 45.85%;
    top: 86.92%;
    
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    /* identical to box height */
    
    letter-spacing: 0.05em;
    
    color: #544D3F;
}
.col ul li{
    width: 20%;
    position: relative;
    left: 68.01%;
    top: 40px;
    margin: 0.5%;
}
.col ul li a{
    left: 68.01%;
    top: 63.29%;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    text-decoration: none;
    letter-spacing: 0.05em;
    color: #544D3F;
}
