*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    position: absolute;
    background: #FFD98E;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.LOGO-splash{
    width: 300px;
}
#splash {
    display: flex;
    position: relative;
    width: 100%;
    height: 100%;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
    min-width: 501px;
    min-height: 501px;
    opacity: 1;
    transition: opacity 1s;
}
#splash.fade{
    opacity: 0;
}
#start {
    display: flex;
    position: relative;
    min-width: 501px;
    min-height: 501px;
    width: 100%;
    height: 100%;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    align-content: space-around;
}
.sign-in{
    width: 380px;
    height: 61px;
    background: #F7F7DF;
    border: 4px solid #7B5B1C;
    border-radius: 34.5px;
    margin: 2%;
}
.sign-in a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.07em;
    text-decoration: none;
    color: #7B5B1C;
}
.sign-in:hover{
    background-color: #e0e0b0;
}
.regist{
    width: 380px;
    height: 61px;
    background: #FFFF8D;
    border: 4px solid #7B5B1C;
    border-radius: 34.5px;
    margin: 2%;
}
.regist a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;
    letter-spacing: 0.07em;
    text-decoration: none;
    color: #7B5B1C;
}
.regist:hover{
    background-color: rgb(240, 240, 172);
}
li a{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    letter-spacing: 0.07em;
    color: #402F0E;
    text-decoration: none;
}
li a:hover{
    color: #765a23;
}
@media (max-width = 500px){
    .LOGO-splash{
        width: 200px;
    }
    .sign-in, .regist{
        width: 200px;
        height: 30px;
    }.regist a, .sign-in a{
        font-size: 20px;
    }
}
@media (max-width = 2500px){
    .LOGO-splash{
        width: 100px;
    }
    .sign-in, .regist{
        width: 150px;
        height: 20px;
    }
    .regist a, .sign-in a{
        font-size: 15px;
    }
    #splash , #start{
        bottom: 100x;
    }
}
@media (max-height = 700px){
    #splash , #start{
        bottom: 100x;
    }
}
@media (max-width = 150px){
    #splash{
        bottom: 50%;
    }
}